:root {
	--lang__chooser__size: 13px;
}
/* ======= Основные ======= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #DAE3E7;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #778492;
}
a {
  color: #3AAA64;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #2d844e;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
a.btn .far,
a.btn .fas {
  font-size: 18px;
  margin-right: 10px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
.text-highlight {
  color: #32383e;
}
.label-theme {
  background: #3AAA64;
  font-size: 12px;
}
a.dotted-link {
  border-bottom: 1px dotted #778492;
  color: #778492;
}
a.dotted-link:hover {
  text-decoration: none;
  color: #49515a;
}

/* ======= Хедер ======= */
.header {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
}
.header .btn {
  margin-top: 60px;
  font-weight: bold;
}
.header .profile-image {
  margin-right: 30px;
  width:180px;
  height:180px;
  object-fit:cover;
  border-radius:50%;
}
.header .profile-image{
    cursor: pointer;
}
.header .profile-content .name {
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.header .profile-content .social a i {
  background: #b0b7bf;
  width: 38px;
  height: 38px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.header .profile-content .social a i:hover {
  background: #778492;
}
.header .profile-content .social a .fab,
.header .profile-content .social a .far {
  font-size: 23px;
  padding-top: 8px;
}

/* ======= Секции ======= */
.sections-wrapper {
  padding-top: 30px;
  padding-bottom: 10px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: #fff;
  padding: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}

/* ======= Обо мне ======= */
.about p {
    white-space: pre-line;
}

/* ======= Проекты ======= */
.projects .item {
  margin-bottom: 30px;
}
.projects .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}
.projects .item .title a {
  color: #778492;
}
.projects .item .title a:hover {
  color: #5f6b77;
}

/* ======= Опыт работы ======= */
.experience .item {
  margin-bottom: 30px;
}
.experience .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}
.experience .item .title .place {
  color: #999;
  font-weight: normal;
}
.experience .item .title .place a {
  color: #999;
}
.experience .item .title .place a:hover {
  color: #666666;
}
.experience .item .title .place a.nolink:hover {
  text-decoration: none;
}
.experience .item .title .year {
  color: #999;
  font-weight: normal;
}

/* ======= Информация ======= */
.info {
  margin-top: 60px;
  padding-right: 100px;
}
.info .fa,
.info .fas,
.info .far {
  margin-right: 15px;
  color: #929699;
  font-size: 14px;
}
.info .far.fa-envelope-open {
  font-size: 14px;
}
.info ul {
  margin-bottom: 0;
}
.info li {
  margin-bottom: 15px;
}
.info li:last-child {
  margin-bottom: 0;
}

/* ======= Навыки ======= */
.skills .intro {
  margin-bottom: 30px;
}
.skills .skillset .item {
  margin-bottom: 30px;
}
.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
}
.skills .skillset .level-title .level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}
.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}
.skills .skillset .level-bar-inner {
  height: 15px;
  background: #66cb8c;
}

/* ======= Образование ======= */
.education .item {
  margin-bottom: 30px;
}
.education .item:last-child {
  margin-bottom: 0;
}
.education .item .title {
  font-size: 16px;
  margin-top: 0;
}
.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px;
}
.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}

/* ======= Языки ======= */
.languages .item {
  margin-bottom: 15px;
}
.languages .item .title {
  color: #778492;
}
.languages .item .level {
  color: #999;
}
.languages .item:last-child {
  margin-bottom: 0;
}
.languages .item .far,
.languages .item .fas {
  color: #79d19a;
}

/* ======= Списки ======= */
.list ul li {
  margin-bottom: 10px;
}
.list ul li .fa {
  margin-right: 5px;
}
.list ul li a {
  color: #778492;
}
.list ul li a:hover {
  color: #49515a;
}

/* ======= Перекрытие текста без ссылок ======= */
.nolink {
  cursor: default;
}
a.nolink:hover{
  text-decoration: none;
}

/* ======= Пасхалка ======= */
.toasty-ee{
  display: block;
  position: absolute;
  transform: scaleY(-1);
  right: 0;
  top: -300px;
}

/* ======= Выбор языка ======= */
.lang__chooser {
	margin-top: -15px;
	margin-bottom: -25px;
}
.f, .f span {
	display: block;
	font-size: var(--lang__chooser__size);
}
.f {
	display: flex;
	cursor: pointer;
	align-items: center;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}
.f__input {
	position: fixed;
	top: -1.5em;
	left: -1.5em;
}
.f__handle, .f__handle span {
	transition-property: all;
	transition-timing-function: ease-in-out;
}
.f__handle, .f__switch {
	height: 3em;
}
.f__handle {
	clip-path: circle(50% at 50% 50%);
	position: relative;
	width: 3em;
	transition-duration: 0.4s;
}
.f__handle span {
	position: absolute;
	transition-duration: 0.2s;
}
.f__switch {
	border-radius: 1.5em;
	margin: 0 0.75em;
	width: 6em;
}
.f__input:focus {
	outline: 0;
}
.f__input:checked + .f__switch .f__handle {
	transform: translateX(0%);
}
.f__1, .f__2a, .f__2b, .f__9, .f__10, .f__17 {
	border-radius: 50%;
}
.f__1, .f__handle > span:nth-child(n + 11) {
	background: #fff0;
}
.f__input:checked + .f__switch .f__1,
.f__input:checked + .f__switch .f__handle > span:nth-child(n + 11) {
	background: #fff;
}
.f__1, .f__2, .f__2 span,
.f__input:checked + .f__switch .f__9,
.f__input:checked + .f__switch .f__handle > span:nth-child(n + 11):nth-child(-n + 17) {
	transition-delay: 0.4s;
}
.f__1 {
	box-shadow: 0 -0.5em 0 0.4em #fa0012 inset;
	width: 3em;
	height: 3em;
}
.f__input:checked + .f__switch .f__1 {
	box-shadow: 0 0 0 0.1em #000 inset;
}
.f__2 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 50% 100%;
}
.f__input:checked + .f__switch .f__2 {
	transform: scaleY(0);
}
.f__input:checked + .f__switch .f__handle > span:nth-child(-n + 2),
.f__input:checked + .f__switch .f__2 span {
	transition-delay: 0s;
}
.f__2a, .f__2b {
	box-shadow: 0 0 0 0.25em #fa0012 inset;
	top: 0.35em;
	width: 1.375em;
	height: 1.65em;
}
.f__input:checked + .f__switch .f__2 span:nth-child(-n + 2) {
	box-shadow: 0 0 0 0.25em #000 inset;
}
.f__2a {
	clip-path: polygon(0% 35%,100% 28%,100% 100%,0% 100%);
	left: 0.15em;
	transform: rotate(-45deg) skewX(-13deg);
}
.f__2b {
	clip-path: polygon(0 28%,100% 35%,100% 100%,0 100%);
	right: 0.15em;
	transform: rotate(45deg) skewX(13deg);
}
.f__input:checked + .f__switch .f__2c,
.f__handle > span:nth-child(n + 3):nth-child(-n + 8),
.f__10 {
	background-color: #000;
}
.f__2c {
	background-color: #fa0012;
	clip-path: polygon(50% 0%,80% 14%,61% 22%,60% 75%,100% 90%,100% 100%,0% 100%,0% 90%,40% 75%,39% 22%,20% 14%);
	top: 0;
	left: 1em;
	width: 1em;
	height: 2.2em;
}
.f__2d, .f__2e {
	top: 0.3em;
	width: 0.25em;
	height: 0.55em;
}
.f__2d {
	border-radius: 0 100% 0 100% / 100% 100% 0 0;
	box-shadow: -0.1em -0.05em 0 #fa0012 inset;
	left: 1.2em;
}
.f__input:checked + .f__switch .f__2d {
	box-shadow: -0.1em -0.05em 0 #000 inset;
}
.f__2e {
	border-radius: 100% 0 0 100% / 100% 100% 0 0;
	box-shadow: 0.1em -0.05em 0 #fa0012 inset;
	left: 1.55em;
}
.f__input:checked + .f__switch .f__2e {
	box-shadow: 0.1em -0.05em 0 #000 inset;
}
.f__handle > span:nth-child(n + 3):nth-child(-n + 8),
.f__handle > span:nth-child(n + 11):nth-child(-n + 16) {
	transform-origin: 50% 0;
}
.f__handle > span:nth-child(n + 3):nth-child(-n + 8) {
	top: 1.5em;
	left: 1.45em;
	width: 0.1em;
	height: 1.4em;
}
.f__input:checked + .f__switch .f__handle > span:nth-child(n + 3):nth-child(-n + 8), .f__10 {
	transition-delay: 0.2s;
}
.f__3 {
	transform: translateY(-100%) scaleY(0);
}
.f__input:checked + .f__switch .f__3 {
	transform: translateY(-100%) scaleY(1);
}
.f__4 {
	transform: rotate(60deg) translateY(-100%) scaleY(0);
}
.f__input:checked + .f__switch .f__4 {
	transform: rotate(60deg) translateY(-100%) scaleY(1);
}
.f__5 {
	transform: rotate(120deg) translateY(-100%) scaleY(0);
}
.f__input:checked + .f__switch .f__5 {
	transform: rotate(120deg) translateY(-100%) scaleY(1);
}
.f__6 {
	transform: rotate(180deg) translateY(-100%) scaleY(0);
}
.f__input:checked + .f__switch .f__6 {
	transform: rotate(180deg) translateY(-100%) scaleY(1);
}
.f__7 {
	transform: rotate(240deg) translateY(-100%) scaleY(0);
}
.f__input:checked + .f__switch .f__7 {
	transform: rotate(240deg) translateY(-100%) scaleY(1);
}
.f__8 {
	transform: rotate(300deg) translateY(-100%) scaleY(0);
}
.f__input:checked + .f__switch .f__8 {
	transform: rotate(300deg) translateY(-100%) scaleY(1);
}
.f__9, .f__10, .f__17 {
	transform: scale(0);
}
.f__9 {
	background-image:
		conic-gradient(
			#000 15deg,
			#fff 15deg 45deg,
			#000 45deg 75deg,
			#fff 75deg 105deg,
			#000 105deg 135deg,
			#fff 135deg 165deg,
			#000 165deg 195deg,
			#fff 195deg 225deg,
			#000 225deg 255deg,
			#fff 255deg 285deg,
			#000 285deg 315deg,
			#fff 315deg 345deg,
			#000 345deg
		);
	top: 0.3em;
	left: 0.3em;
	width: 2.4em;
	height: 2.4em;
}
.f__10 {
	top: 0.5em;
	left: 0.5em;
	width: 2em;
	height: 2em;
}
.f__handle > span:nth-child(n + 3):nth-child(-n + 8), .f__input:checked + .f__switch .f__10 {
	transition-delay: 0.3s;
}
.f__input:checked + .f__switch .f__handle > span:nth-child(n + 9):nth-child(-n + 10),
.f__input:checked + .f__switch .f__17 {
	transform: scale(1);
}
.f__handle > span:nth-child(n + 11):nth-child(-n + 16) {
	clip-path: polygon(50% 0%,100% 100%,0% 100%);
	top: 1.5em;
	left: 1.32em;
	width: 0.36em;
	height: 0.9em;
}
.f__11 {
	transform: scaleX(0);
}
.f__input:checked + .f__switch .f__11 {
	transform: scaleX(1);
}
.f__12 {
	transform: rotate(60deg) scaleX(0);
}
.f__input:checked + .f__switch .f__12 {
	transform: rotate(60deg) scaleX(1);
}
.f__13 {
	transform: rotate(120deg) scaleX(0);
}
.f__input:checked + .f__switch .f__13 {
	transform: rotate(120deg) scaleX(1);
}
.f__14 {
	transform: rotate(180deg) scaleX(0);
}
.f__input:checked + .f__switch .f__14 {
	transform: rotate(180deg) scaleX(1);
}
.f__15 {
	transform: rotate(240deg) scaleX(0);
}
.f__input:checked + .f__switch .f__15 {
	transform: rotate(240deg) scaleX(1);
}
.f__16 {
	transform: rotate(300deg) scaleX(0);
}
.f__input:checked + .f__switch .f__16 {
	transform: rotate(300deg) scaleX(1);
}
.f__17 {
	top: 1.06em;
	left: 1.06em;
	width: 0.88em;
	height: 0.88em;
}

/* ======= Меню ======= */
.mobile-menu{
  display: none;
}

/* ======= Для экранов меньше 991 ======= */
@media (max-width: 991px) {
  /*Сдвигаем хедер в центр и контент хедера*/
  .header {
    text-align: center;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    float: none !important;
    margin-top: 5px;
  }
  .project-image {
    margin-bottom: 15px;
  }
  /* ======= Меню ======= */
  /* ======= ЗАКЛЮЧЕНИЯ ======= */
  /* Компонент сбросит стили браузера кнопки */
  .r-button{
    --uirButtonBackgroundColor: transparent;
    --uirButtonPadding: var(--rButtonPaddingTop, 0) 0 0 0;
    --uirButtonBorderWidth: 0;
    --uirButtonBorderStyle: solid;
    --uirButtonBorderColor: currentColor;
    --uirButtonFontFamily: inherit;
    --uirButtonFontSize: inherit;

    background-color: var(--uirButtonBackgroundColor);
    padding: var(--uirButtonPadding);

    border-width: var(--uirButtonBorderWidth);
    border-style: var(--uirButtonBorderStyle);
    border-color: var(--uirButtonBorderColor);

    cursor: pointer;

    font-family: var(--uirButtonFontFamily);
    font-size: var(--uirButtonFontSize);
  }
  .r-button::-moz-focus-inner,
  .r-button[type="button"]::-moz-focus-inner,
  .r-button[type="reset"]::-moz-focus-inner,
  .r-button[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  /* Компонент сбросит стили ссылки браузера */
  .r-link{
      --uirLinkDisplay: inline-flex;
      --uirLinkTextColor: var(
              --rLinkTextColor
      );
      --uirLinkTextDecoration: none;
      display: var(
              --uirLinkDisplay
      ) !important;
      color: var(
              --uirLinkTextColor
      ) !important;
      text-decoration: var(
              --uirLinkTextDecoration
      ) !important;
  }
  /* Компонент сбросит стили списка браузера */
  .r-list{
      --uirListPaddingLeft: 0;
      --uirListMarginTop: 0;
      --uirListMarginBottom: 0;
      --uirListListStyle: none;
      padding-left: var(
              --uirListPaddingLeft
      ) !important;
      margin-top: var(
              --uirListMarginTop
      ) !important;
      margin-bottom: var(
              --uirListMarginBottom
      ) !important;
      list-style: var(
              --uirListListStyle
      ) !important;
  }
  /* Основные стили компонента для гамбургера */
  .mobile-m-hamburger{
    --uiMobileHamburgerThickness: var(
            --mobile-hamburgerThickness,
            4px
    );
    display: var(
            --mobile-hamburgerDisplay,
            inline-flex
    );
    width: var(
            --mobile-hamburgerWidth,
            28px
    );
    height: var(
            --mobile-hamburgerHeight,
            20px
    );
    position: relative;
  }
  .mobile-m-hamburger::before,
  .mobile-m-hamburger::after,
  .mobile-m-hamburger__label{
    width: 100%;
    height: var(
            --uiMobileHamburgerThickness
    );
    border-radius: var(
            --mobile-hamburgerBorderRadius,
            5px
    );
    background-color: var(
            --mobile-hamburgerBackgroundColor,
            currentColor
    );
    position: absolute;
    left: 0;
  }
  .mobile-m-hamburger::before,
  .mobile-m-hamburger::after{
    content:"";
  }
  .mobile-m-hamburger::before{
    top: 0;
  }
  .mobile-m-hamburger::after{
    bottom: 0;
  }
  .mobile-m-hamburger__label{
    /* Расчет среднего положения кнопки для гамбургера */
    top: calc(50% - calc(var(--uiMobileHamburgerThickness) / 2));
  }
  /* помощник для сокрытия элементов, которые доступны только для экранного считывателя */
  .screen-reader{
    width: 1px !important;
    height: 1px !important;
    padding:  0 !important;
    border:  none !important;
    position:  absolute !important;
    clip:  rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important;
  }
  /* ======= СТИЛИ МЕНЮ ======= */
  .mobile-menu{
    --uiMobileMenuCircleSize: var(
            --mobile-menuCircleSize,
            6.25rem
    );
    --uiMobileMenuCircleOffset: var(
            --mobile-menuCircleOffset,
            1rem
    );
    --uiMobileMenuCircleHeight: calc(
            var(
            --uiMobileMenuCircleSize
            ) / 2
    );
    --uiMobileMenuCircleBackgroundColor: var(
            --mobile-menuCircleBackgroundColor
    );
    --uiMobileMenuHamburgerWidth: var(
            --mobile-menuHamburgerWidth,
            1.75rem
    );
    --uiMobileMenuHamburgerHeight: var(
            --mobile-menuHamburgerHeight,
            1.25rem
    );
    --rButtonPaddingTop: calc(
            var(
            --uiMobileMenuCircleHeight
            ) - var(
            --uiMobileMenuHamburgerHeight
            ) - var(
            --uiMobileMenuCircleOffset
            )
    );
    --mobile-hamburgerWidth: var(
            --uiMobileMenuHamburgerWidth
    );
    --mobile-hamburgerHeight: var(
            --uiMobileMenuHamburgerHeight
    );
    --mobile-hamburgerBackgroundColor: var(
            --mobile-menuHamburgerBackgroundColor,
            #fff
    );
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
  }
  .mobile-menu__nav{
    box-sizing: border-box;
    width: 100%;
    height: 0;
    transition: opacity .2s ease-out;
    opacity: 0;
    display: flex;
    align-items: flex-end;
    z-index: 2;
  }
  .mobile-menu__list{
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .mobile-menu__toggle{
    box-sizing: border-box;
    width: var(--uiMobileMenuCircleSize);
    height: var(--uiMobileMenuCircleHeight);
    flex: none;
    position: relative;
    z-index: 0;
  }
  .mobile-menu__toggle::before{
    /*
    1. The font-size property is used to simplify calculations of the element's sizes and position
    2. The negative value for the bottom property need for hiding half of circle.
    */
    content: "";
    width: 1em;
    height: 1em;
    font-size: var(
            --uiMobileMenuCircleSize
    ); /* 1 */
    background-color: var(
            --uiMobileMenuCircleBackgroundColor
    );
    border-radius: 50%;
    position: absolute;
    bottom: -.5em; /* 2 */
    left: calc(50% - .5em);
    z-index: -1;
    will-change: width, height;
    transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  }
  /* стили анимации гамбургера */
  .mobile-m-hamburger::before,
  .mobile-m-hamburger::after,
  .mobile-m-hamburger__label{
    transition-timing-function: ease;
    transition-duration: .15s;
  }
  .mobile-m-hamburger::before,
  .mobile-m-hamburger::after{
    transition-property: transform;
  }
  .mobile-m-hamburger__label{
    transition-property: transform, opacity;
  }
  /* ======= МЕНЮ СОСТОЯНИЯ ======= */
  .mobile-menu__toggle:focus{
    outline: none;
  }
  .mobile-menu_activated{
    height: 100%;
  }
  .mobile-menu_activated .mobile-menu__nav{
    flex-grow: 1;
    opacity: 1;
    will-change: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
  }
  .mobile-menu_activated .mobile-menu__toggle::before{
    width: 100vmax;
    height: 100vmax;
    transform: translate3d(-50vh, -50vh, 0) scale(5);
    transition-duration: 1s;
  }
  .mobile-menu:not(.mobile-menu_activated) .mobile-menu__list{
    display: none;
  }
  .mobile-menu_activated .mobile-m-hamburger::before{
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }
  .mobile-menu_activated .mobile-m-hamburger::after{
    transform: translate3d(0, -50%, 0) rotate(135deg);
    top: 50%;
  }
  .mobile-menu_activated .mobile-m-hamburger__label{
    transform: rotate(-45deg) translate3d(-.285em,-.3em, 0);
    opacity: 0;
  }
  .lang-disable {
    display: none !important;
  }
  /* ======= НАСТРОЙКИ МЕНЮ ======= */
  :root {
	--colorWhite: #dae3e7;
	--colorMain: #778492;
	--mobile-menuCircleSize: 9rem;
	--mobile-menuCircleOffset: 1rem;
	--mobile-menuHamburgerWidth: 3rem;
	--mobile-menuHamburgerHeight: 2.4rem;
	--mobile-menuCircleBackgroundColor: var(--colorMain);
	--mobile-menuHamburgerBackgroundColor: var(--colorWhite);
	--mobile-menuHaburgerOutlineColor: var(--colorMain);
	--mobile-hamburgerThickness: 4px;
	--mobile-hamburgerDisplay: inline-flex;
	--mobile-hamburgerBorderRadius: 5px;
}
  .mobile-menu_activated{
    --mobile-menuHaburgerOutlineColor: var(--colorWhite);
  }
  /* ======= ПУНКТЫ МЕНЮ ======= */
  .mobile-menu__group{
    --rLinkTextColor: var(
            --colorWhite
    );
    padding: .5rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .mobile-menu__link {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }
  .mobile-menu__lang_sep {
	margin-bottom: 0;
	margin-top: 0;
	border-top-width: 1px;
	border-color: var(--colorWhite);
}
}
/* ======= Для экранов больше 1400 ======= */
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}
/* ======= Для экранов меньше 1400 ======= */
@media (max-width: 1400px) {
  .visible-own {
    display: block !important;
  }
}
/* ======= Для экранов меньше 1200 ======= */
@media (max-width: 1200px) {
  .info {
    padding-right: 50px;
  }
  .lang__chooser {
      margin-top: -15px;
      margin-bottom: -25px;
      margin-right: -50px;
  }
}
