{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- favicon -->
    <link rel="icon" type="image/svg" href="{% static 'main_page/images/favicon/favicon.svg' %}">
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'main_page/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'main_page/plugins/font-awesome/css/all.min.css' %}">
    <!-- github calendar css -->
    <link rel="stylesheet"
          href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css">
    <!-- github card widget css -->
    <link rel="stylesheet"
          href="{% static 'main_page/plugins/github-card-widget/github-card-widget.css' %}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet"
          href="{% static 'main_page/css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>